html, body, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior: none;
    overflow: hidden;
}

body {
    overflow-y: hidden; /* Prevent default vertical scrolling */
    background-color: black !important;
    color: white !important;
}

.mobile {
    display: none !important;
}

.card {
    background-color: black !important;
}

.pp-text-blue{
    color: rgb(136, 203, 236);
}

a.pp-text-blue {
    color: rgb(136, 203, 236);
    text-decoration: none; /* Optional: remove underline */
}

.content-wrapper{
    padding: 0 15px;
    align-items: center;
}

.accounts-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: rgb(136, 203, 236);
}

.accounts-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.accounts-list li {
    margin: 0;
}

.accounts-list li a {
    color: rgb(136, 203, 236);
    font-size: 2rem; 
    font-weight: 400;
}

.image-column {
    width: 60%; 
    height: 100%; 
    overflow: hidden;
}

.acc-ind-layout {
    justify-content: center;
    align-items: center;
    margin: 0;
}

.multi-card,
.multi-card:hover,
.multi-card:visited,
.multi-card:focus,
.multi-card:active  {
    background-color: transparent; 
    position: relative;
}

.multi-card-img{
    opacity: 0.5; 
    width: 100%; 
    height: 300px; 
    object-fit: cover;
}

.stat-value {
    color: rgb(136, 203, 236);
    font-weight: 500;
    font-size: 2.5rem;
}

a.pp-text-blue:hover,
a.pp-text-blue:visited,
a.pp-text-blue:focus,
a.pp-text-blue:active {
    color: rgb(136, 203, 236); /* Ensures the color remains consistent */
}

.font-500 {
    font-weight: 500;
}

.navbar-icon {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
}

.scroll-container {
    display: block;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; /* Full height for the scrollable container */
    position: relative;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.snap-section {
    scroll-snap-align: start;
    height: 100vh; /* Full height for sections that need snapping */
    width: 100vw;
    min-width: 1024px;
    max-width: 1600px;
    background-color: black; /* Adjust as needed */
    color: white; /* Adjust as needed */
    display: flex; 
    flex-direction: column;
    margin-top: 20px;

}

@media (max-width: 800px) {
    .snap-section {
        max-width: 800px; /* Adjust max-width for smaller screens */
    }
}


/* Navbar style */
.navbar {
    background-color: transparent; /* Transparent background */
    color: white;
    z-index: 1000;
    position: fixed; /* Fixed position to stay on top */
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: auto; /* Ensure the navbar height is auto by default */
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out; /* Smooth transition for opacity and height */
    opacity: 1; /* Default opacity */
}

/* Navbar hidden state */
.navbar.hidden {
    height: 0; /* Set height to 0 when hidden */
    padding: 0; /* Remove padding to avoid extra space */
    opacity: 0; /* Set opacity to 0 when hidden */
}

/* Ensure navbar links and text are white */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .nav-item {
    color: white; /* Set text color to white */
}

.navbar h5, .navbar p {
    text-wrap: wrap;
}

.nav-item {
    height: 50px;
}

/* Navbar brand (logo link) styling */
.navbar-brand img {
    height: 40px; /* Set height for the logo */
    transition: transform 0.3s ease-in-out; /* Smoothly move with navbar */
}

/* Ensure the logo moves with the navbar */
.navbar.hidden .navbar-brand img {
    transform: translateY(-100%);
}

/* Dropdown styles */
.full-width-dropdown {
    position: absolute;
    left: 0;
    top: 100%; /* Directly below the navbar */
    width: 100vw; /* Full viewport width */
    background-color: #424242; /* Adjusted for visibility */
    display: none; /* Hidden by default */
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    flex-wrap: wrap;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
    opacity: 0; /* Default opacity for smooth transition */
}

/* Dropdown columns */
.dropdown-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; /* Adjust based on your layout needs */
}

.dropdown-item {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Ensures all items have equal height */
    padding: 10px !important; /* Adjust padding as needed */
    text-decoration: none;
    height: 33%;
}


/* Show dropdown on hover of the nav-item or dropdown itself */
.nav-item:hover .full-width-dropdown,
.full-width-dropdown:hover {
    display: flex; /* Show dropdown on hover */
    opacity: 1; /* Ensure dropdown is fully visible */
}

.navbar:hover,
.navbar .dropdown:hover,
.navbar .dropdown-menu:hover {
    background-color: #424242;
}

.arrow {
    font-size: 0.8em; /* Adjust size as needed */
    color: white; /* Change color if necessary */
    transition: transform 0.2s ease; /* Smooth transition for hover effect */
    display: inline-block; /* Ensure proper alignment */
    transform: rotate(0deg); /* Default pointing down */
}

.nav-item:hover .arrow {
    transform: rotate(90deg); /* Rotate to point left on hover */
}

.accounts-arrow:hover .arrow {
    transform: rotate(90deg); /* Rotate to point left on hover */
}

.accounts-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.accounts-list .arrow {
    margin-right: 1rem;
}


.blur-content {
    filter: blur(5px); /* Adjust blur level */
    transition: filter 0.3s ease-in-out; /* Smooth transition for both blur and unblur */
}

.card-img {
    mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 85%);
}

.glow {
    box-shadow: 0 0 15px rgba(136, 203, 236, 0.6); /* Initial light glow */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

.glow:hover {
    box-shadow: 0 0 30px rgba(136, 203, 236, 1), /* Stronger glow */
                0 0 60px rgba(136, 203, 236, 0.8); /* Brighter, more spread */
}

.no-glow {
    box-shadow: 0 0 30px rgba(136, 203, 236, 0); /* No visible shadow initially */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

.no-glow:hover {
    box-shadow: 0 0 30px rgba(136, 203, 236, 1), /* Stronger glow */
                0 0 60px rgba(136, 203, 236, 0.8); /* Brighter, more spread */
}

.dropdown-item:hover {
    box-shadow: 
                0 0 30px rgba(136, 203, 236, 1), /* Stronger outer glow */
                0 0 60px rgba(136, 203, 236, 0.8); /* Brighter, more spread outer glow */
    background-color: rgba(136, 203, 236, 0.6);
}

.pp-button {
    border: solid rgb(136, 203, 236);
    color: white;
    min-width: 100px;
    margin: 8px;
    padding: 4px;
}

.pp-button:hover {
    transition: background-color 0.2s ease;
    border: solid rgb(136, 203, 236);
    background-color: rgb(136, 203, 236);
    color: white;
    min-width: 100px;
}

.pp-link {
    text-decoration: none;
}

.card-body {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height: 300px;
    background-color: rgba(245, 245, 245, 0.4);
}

.currency-info img{
    width: 3vw;
}

.flag-cap{
    font-size: 16px;
    width: 40px;
}

.currency-info col {
    margin: 0;
    padding: 0;
}

.your-needs .card-img-overlay {
    overflow: hidden;
}

.your-needs .card-img-overlay .heading {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.your-needs .card-img-overlay .hover-text {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center;
    width: 100%;
}

.your-needs .card-img-overlay:hover .heading {
    transform: translateY(-100%);
    opacity: 0;
}

.your-needs .card-img-overlay:hover .hover-text {
    opacity: 1;
    transform: translateY(0);
    bottom: 50%;
    transform: translateY(50%);
}

.card-img-overlay {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.accounts a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.hidden {
    display: none; /* Ensure the replacement divs are hidden initially */
}

.replacement {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: black;
    color: white;
    padding: 20px;
    display: none; /* Start hidden */
}

.card-container {
    position: relative; /* Ensure the replacements overlay the cards */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.clickable {
    cursor: pointer; /* Make it clear that the h5 elements are clickable */
    transition: transform 0.2s; /* Smooth transition for the lift effect */
    position: relative; /* Allow the text to move without affecting the parent */
    display: inline-block; /* Ensure the text takes only necessary space */
}

.clickable:hover {
    transform: translateY(-15px); /* Lift the text slightly on hover */
}

.accordion-button {
    position: relative;
    color: white !important;
    background: none !important;
    background-image: linear-gradient(to right, black 0%, rgb(136, 203, 236) 100%) !important;
    border: none !important;
    border-radius: 5px !important; /* Slightly rounded corners */
    z-index: 1;
  }
  
  .accordion-button:focus {
    box-shadow: none !important;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 10px;
    height: 100%; /* Ensure the grid item takes full height */
    position: relative; /* Position relative for absolute positioning of h3 */
}

.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.grid-item img {
    width: 60%; /* Set image width to 60% of the grid item */
    max-height: 200px; /* Set a maximum height for the images */
    object-fit: contain; /* Ensure the image fits within the set height without distortion */
    margin-bottom: 10px; /* Add margin below the image for spacing */
}

.grid-item h3 {
    position: absolute; /* Position the heading absolutely */
    bottom: 10px; /* Align it at the bottom of the grid item */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin: 0; /* Remove any default margin */
}

.landing-buttons {
    margin-top: 24px;
}

.general-info {
    display: flex;                /* d-flex */
    flex-direction: column;      /* flex-column */
    justify-content: center;      /* justify-content-center */
    align-items: center;          /* align-items-center */
    padding-top: 1rem;           /* py-3 (assuming a 1rem padding for top and bottom) */
    padding-bottom: 1rem;        /* py-3 */
    text-align: center;           /* text-center */
}

.mobile-container {
    overflow: auto;  /* Allows scrolling */
    height: 100vh;   /* Ensure the container height is sufficient */
    /* Other styles as necessary */
}

.mobile-section {
    width: 100vw;
    min-width: 0px;
    max-width: 480px;
    background-color: black; /* Adjust as needed */
    color: white; /* Adjust as needed */
    display: flex; 
    flex-direction: column;
    padding: 0 !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 co
        lumns on smaller screens */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* Adjust to 1 column on very small screens */
    }

    .grid-item img {
        width: 80%; /* Increase image width on smaller screens */
    }
    
    .grid-item h3 {
        font-size: 1rem; /* Decrease font size for smaller screens */
    }

    .mobile-container {
        display: block !important
    }

    .scroll-container{
        display: none !important
    }

    .landing-buttons {
        flex-direction: column !important; /* Stack divs vertically */
        margin: 0 !important; /* Remove default margin */
    }

    .landing-buttons > div {
        width: 100%; /* Optional: makes each button fill the container width */
        text-align: center; /* Center aligns content inside each button */
    }
    
    .landing-buttons div {
        margin: 0px 0 !important; /* Add space between buttons */
        padding: 0 !important; /* Remove padding */
        height: 50px !important;
    }

    .pp-link img {
        height: 15vh;
        width: auto;
    }

    .currency-info img{
        width: 1rem;
    }
}





